<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${titulo}"></title>
	</head>
	<body>
		<h1 th:text="${titulo}"></h1>
		<ul>
			<li><a th:href="@{/variables/string/} + 'Hola Sam'">/params/string/Hola Sam</a></li>
			<li><a th:href="@{/variables/string/} + 'Que tal Andrés'">/params/string/Que tal Andrés</a></li>
			<li><a th:href="@{/variables/string/} + 'Saludos Andrés' + '/' + 7">/params/string/Saludos Andrés/7</a></li>
		</ul>
	</body>
</html>