:root{
    --color-principal: red;
    --fuente: Arial, Helvetica, sans-serif;
    --fuente-size: 45px;
}

h1{
    color: var(--color-principal);
    font-family: var(--fuente);
    font-size: var(--fuente-size);
}

p{
    font-family: var(--fuente);
}

a{
    color: var(--color-principal);
}