/* Filter */

img{
    filter: hue-rotate(200deg);
    transition: all 500ms ease-in-out;
}

img:hover{
    filter: hue-rotate(100deg);
}

.caja{
    filter:grayscale(100%);
    border: 1px solid blue;
    background-color: aqua;
    color: blue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 250px;
    height: 250px;
}